@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
body{
    font-family: 'Nunito Sans', sans-serif;
}
header {
    width: 100%;
    min-height: 200px;
  }
.logIn{
    float: right;
    background-color: #8cc63f;
    color: #fff;
    width: 100px;
    height: 40px;
}
 #index{
    background: linear-gradient(black,transparent),
                url(Website\ Images/homePic.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:center
} 

.main-header {
    width:100%;
    min-height: 100px;
    height: 100px;
  }
.logo img {
    width: 120px;
    height: 120px;
    margin-left: 20px;;
  }
/* Nav*/
.main-menu {
    font-weight: 40px;
    width: auto;
  }


  .main-menu ul li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }
 
  .main-menu ul li a:hover {
    color: #9ed034;
  }
  .main-menu ul li.active {
    background: #9ed034;
    border: none;
  }
  .main-menu ul li.active a {
    color:#fff;
  }
  @media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{
        display: none;
       }
    .navbar .nav-item:hover .dropdown-menu{
         display: block;
         background-color: rgb(135, 194, 46);
       }
    .navbar .nav-item .dropdown-menu{
        margin-top:0;
    }
}.main-menu ul li a {
    text-decoration: none;
    color:black;
    font-size: 20px;
  }
  /* .navbar-toggler {
      background-color:#fff !important;
  }*/
 

/*intro Index*/

main .introIndex{
    background-color: rgba(255, 254, 254, 0.678);
    width: 70%;
    height: 500px;
    margin:0 auto;
    margin-bottom:50px;
    text-align: center;  
}
.introIndex h1{
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    word-wrap: break-word;
    text-decoration: underline rgb(135, 194, 46);
}  
.introIndex p{
    padding:10px 10px;
    word-wrap: break-word;   
}
.introIndex button{
    height: 80px;
    background-color: rgb(135, 194, 46);
    color: #fff;
    font-size: 20px;

}

/*Footer*/
footer{
    width:100%;
    height:270px;
    background: #011520;
    background:linear-gradient(0deg, #000000 0%, #6f7471 100%);
}

footer #disclaimer2 p{
    color:white;
    font-size:0.85;
    text-align: center;
}
footer #disclaimer2 p span a{
    color:#8cc63f;
}
footer .contactlogo img {
    width: 100px;
    height: 100px;
}
footer .contactinfo{
    color:white;
    margin-top: 30px;
}
footer .contactinfo h5 {
    text-decoration: underline;
}
footer .social a img {
    width: 15px;
    height: 15px;
    margin:5px;
}
footer .contactinfo {
    width: 60%;
    height: 100%;
    float: left;
    padding:0.5em 3.5em 4.5em 2em;
}
footer .contactinfo .infobox1 {
    
    width: 45%;
    height: auto;
    float: left;
    
}
footer .contactinfo .infobox2 {
    
    width: 45%;
    height: auto;
    float: left;
    
}
footer .contactlogo {
    float: right;
    padding:1em;
    margin-right:20px;
}
footer #disclaimer2{
    clear:both;
}
/* loginButton */
.logIn {
    margin-right: 2%;
    margin-top: 2%;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 10px;
}
.logIn a{
    color:white;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
}


/*About Page*/
#about .index{
    background: linear-gradient(rgba(0, 0, 0, 0.596),transparent),
                url(Website\ Images/aboutpic.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    min-height: 1000px; 
}
#about main h1{
    font-size: 70px;
    width: 20px;
    margin-left:100px;
}
#about .abouttext{
    background-color: rgba(255, 254, 254, 0.678);
    width: 40%;
    float: right;
    font-size: 22px;
    margin-right:2%;
    margin-top: 3%;
    
}
#about .abouttext span{
    font-weight: bolder;
}



/* EVFYTEAM page */
#team header{
    background: linear-gradient(rgba(0, 0, 0, 0.596),transparent);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
  
}
.teampic{
    margin-left: 20px;
    margin-top: 30px;
}
.card{
    display: inline-block;
}
.teampics img{
    width: 50%;
    margin-left:80px;
    margin-top: 20px;
}


/*our mission*/
#mission header{
    background: linear-gradient(rgba(0, 0, 0, 0.596),transparent);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
}
#mission img{
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 50px;;
}
#mission .missionp{
    float:right;
    margin-right:200px;
}
/*Sustainability Index Page*/
#sustainindex .index {
    background: url(Website\ Images/sustainindex.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:right;
    min-height: 1000px;
    
}

#sustainindex  h1{
    font-size: 90px;
    text-align: center;
    margin-top: 10%;
    font-weight:bolder;
}



/*Roadmap Page*/
#roadmap .index{
    background: linear-gradient(rgba(0, 0, 0, 0.589),transparent),
                url(Website\ Images/roadmapPic.webp);
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:center;
    min-height: 1000px;
}
/* TOP PART */
#roadmap .map{
    color: #fff;
    margin-top: 160px;
}
.roadmapc span{
    color: yellowgreen;
}
.roadmapc p{
    font-size: 28px;
    width: 65%; 
    padding-left: 2%;
}
.roadmaptext h1{
    font-size: 80px;
    text-align: right;
    margin-top: 50px;
    border-right: 5px solid white;
    padding-right: 5%;
    padding-top:20px;
    padding-bottom: 20px;
}


/* MIDDLE PART */

#roadmap .mbackground{
    background-color: rgba(211, 211, 211, 0.365);
    padding-top: 100px;
    padding-bottom: 10px;
}
#roadmap main .img{
    background-color: white;
    margin-left: 30px;
}
#roadmap main .img img{
    width: 50%;
    padding-top:30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#roadmap main .pagetext{
    margin:0 30px;
}
#roadmap main .pagetext h1{
    color:yellowgreen;
    font-size: 40px;
}
#roadmap main .pagetext p{
    font-size: xx-large;
    padding-top: 30px;
}

/* BOTTOM PART */

#roadmap .bottompage{
    padding-top: 200px;
    padding-bottom: 30px;
    text-align: center;
    width: 70%;
    margin: 0 auto 10px auto;
}
#roadmap .bottompage h2{
    text-align: center;
    font-size: 50px;
    color: #8cc63f;
}
.bottompage p{
    word-wrap: break-word;
    padding:0 150px; 
    font-size: xx-large;
    text-align: left;
}
table{
    font-size: x-large;
}
thead {
    background-color: #8cc63f;
    color:white;  
}

tbody tr:first-child{
    background-color: #bad29b72;
    border:1px solid white;
    text-align: left;
    
}
tbody tr:nth-child(2){
    background-color: #bad29b2e;
    border: 1px solid white; 
}
tbody tr:first-child th{
    font-weight: bold;
    vertical-align: middle;
    height: 250px;
}
tbody tr:nth-child(2){
    height: 100px;
    vertical-align: middle;
}

.bottompage button{
    border:1px solid rgba(0, 128, 0, 0.393);
    font-size: x-large;
    width: 300px;
    height: 50px;
    background-color: rgb(135, 194, 46);
    margin:30px auto;
}



/*Partners Page*/
#partner .index{
    background: linear-gradient(rgba(0, 0, 0, 0.582),transparent),
                url(Website\ Images/partnerpic.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    height:700px;
}
#partner h1{
    font-size: 80px;
    text-align: center;
}

#piconi{
    background-color:rgba(211, 211, 211, 0.7);
}
#piconi img{
    /* height: 200px; */
    width:100%;
}

#piconi .col-sm-2{
    margin-top:30px;
}
#earlybird img{
    width: 100%;
}


#sprouts{
    background-color:rgba(211, 211, 211, 0.7);
}
#sprouts img{
    height:150px;
}

#partnersection h2{
    color: rgb(119, 170, 42);
    font-size: 25px;
    padding-left: 20px;
}
#partnersection{
    padding-left:20px;
    padding-right:20px;
}
#partnersection > div{
    padding-bottom: 50px;
    padding-top:30px;
}

/*Contact Us Page*/

form{
    font-size: 24px;
    
}
#contact main{
height:750px;
}
#contact .index{
    background: linear-gradient(rgba(0, 0, 0, 0.541),transparent),
                url(Website\ Images/contactpic.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    height: auto;  
}

#contact fieldset{
    background-color: rgba(255, 254, 254, 0.678);
    border:none;
    padding:20px;
    float:right;
    margin-right:3%;
    width:35%;
    
}


.randomcode #codes{
    background-color:rgba(12, 110, 247, 0.373) ;
    font-weight: bold;
    text-align: center;
    color:white;
    height: 135px;
}
.codebutton{
    margin-top: 40px;
    margin-left: 210px;
}

input[type="reset"]{
    background-color: rgba(138, 137, 137, 0.606);
    color:white;
    font-size: medium;
    font-weight: bold;
    border:none;
    width: 120px;
    height: 32px;
    border-radius: 10px;
}
input[type="submit"]{
    background-color:#8cc63f;
    color: white;
    font-weight: bold;
    border: none;
    width: 120px;
    height: 32px;
    border-radius: 10px;
    margin-right: 40px;
    margin-left: 18px;
    font-size: medium;
}
.col-sm-4 #city, #zip{
     margin-left:27%;
}


/*About US*/
main .about{
    width: 300px;
    height: 300px;
    float: right;
}

main .top-right{
    position: absolute;
    top: 8px;
    right: 16px;   
}
main .top-right img{
    border-radius: 100%;
    border: 19px solid rgba(255, 255, 255, 0.646);
}


/*EvfyTeam*/
#team .main1{
    margin: 100px 50px;
}
/* #team main .mainpic{
    float:left;
}
#team main .maintext{
    float: right;
    width:58%;
    padding-top:80px;
    padding-right: 90px;
    
} */
#team main .col-xl-7 h2{
    color: yellowgreen;
}
#team main .col-xl-7 p{
    font-size: 26px;
}
#team main .col-xl-7{
    padding-top:3%;
}



#team main .mainpic img {
    padding-top:30px;
    padding-left:30px;
}

.teampics{
    padding-top: 250px;
    padding-bottom: 10px;
}
.teampics .card{
    border:none;
    border-bottom: 2px dotted lightgray;
    
}
.teampics .card img{
    filter: grayscale(100%); 
}
.rounded-circle {
    margin-right: 70px;
}
.teampics .card h5{
    color: yellowgreen;
}



/*see you index score*/

#indexscore .score{
    background: linear-gradient(rgba(0, 0, 0, 0.582),transparent),
                url(Website\ Images/Indexscore.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    height: 600px; 
}
#indexscore h1{
    color:#fff;
    padding-left: 20%;
}
#indexscore button{
    margin-left: 20%;
}

/*sustainability Index Page*/
#sustainindex .index{
    background: linear-gradient(rgba(0, 0, 0, 0.568),transparent),
    url(Website\ Images/sustainindex.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:center;
    height:700px;
}
#sustainindex main h1{
    font-size: 60px;
    margin-left:650px ;
}
#sustainindex .missionp {
    float: left;
    margin-left: 100px;
    width:500px;
    margin-top:30px;
}
#sustainindex .img1{
    float: right;
    padding-right: 100px;
    padding-top: 50px;
}
#sustainindex main {
    height: 280px;
}
#mission .meth{
    float:left;
}
#mission .meth h3{
    padding-left:200px;
}
#mission .missionp{
    float:right;
    margin-right:5%;
    width:60%;
    font-size:20px;
    margin-top:60px;
}
#mission main{
    height: 500px;
}
#mission .meth img{
    margin-left:20%;
}

#sustainindex .missionp p{
    font-size: 24px;

}
#sustainindex main .row{
    margin:70px 30px;
}





